@import "@{templateCommon}/basekit-bootstrap.less";

@import "@{templateLocal}/css/widgets.less";
@import "@{templateLocal}/css/text-content.less";

// =============================================================================================

// Vertical space between widgets
@block-v-space: 70px;

// Main Layout Vertical Spacing
@layout-v-space: 50px;


// BreakPoints
@bp-extendednav: ~"only screen and (max-width: 1100px)";

// Retina images
@retina: ~"only screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)";



// =============================================================================================
// MAIN LAYOUT

body {
	background: @color-swatch1;
}


.zone-content {
	padding: 0 @layout-v-space;
	@media @tablet {
		padding: 0 (@layout-v-space / 2);
	}
	@media @mobile {
		padding: 0 (@layout-v-space / 3);
	}
	.widget {
		max-width: 1100px;
		margin-left: auto;
		margin-right: auto;
		&.responsiveslideshow, &.gallery, &.blogpost {
			max-width: 100%;
		}
	}
}



// Vertical spacing for block widgets
.block-widget {
	margin-bottom: @block-v-space;
	@media @tablet {
		margin-bottom: (@block-v-space / 2);
	}
	@media @mobile {
		margin-bottom: (@block-v-space / 3);
	}
}

// Vertical spacing for small widgets
.small-widget {
	margin-bottom: @block-v-space / 3;
	@media @tablet {
		margin-bottom: (@block-v-space / 4 );
	}
	@media @mobile {
		margin-bottom: (@block-v-space / 5 );
	}
}


.header {
	// Profile Bar
	.profile-bar {
		display: -webkit-flexbox;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		padding: 0.4em 0;
		

		@color-profile-bg: lighten(@color-swatch1, 10%);
		background: @color-profile-bg;

		.widget {
			margin-bottom: 0;
			margin: 0 @layout-v-space;
			@media @tablet {
				margin: 0 @layout-v-space / 2;
			}
			@media @mobile {
				margin: 0 @layout-v-space / 3;
			}

			&.profile, &.profile p {
				font-size: 16px;
				line-height: 1.5;
				margin-bottom: 0;
				padding-bottom: 0;

				@media @tablet {
					font-size: 14px;
				}
				@media @mobile {
					font-size: 12px;
				}
			}
		}


		.p01, .p02, .p03 {
			
		}
		.p01 {
			flex-grow: 2;
		}
		.p02 {
			
		}
		.p03 {
			
		}

		.bk-profile-address p {
			display: inline-block;
			margin-right: .4em;
			&:after {
				content: ",";
			}
			&:last-child:after {
				content: none;
			}
		}

		.bk-profile-phone {
			&:before {
				content: "";
				background-image: image('/images/ico-phone.png');
				width: 16px;
				height: 17px;
				display: inline-block;
				vertical-align: middle;
				margin-right: 0.4em;
				background-repeat: no-repeat;
				@media @retina {
					background-image: image('/images/ico-phone_@2x.png');
					background-size: 100% auto;
				}
				@media @mobile {
					width: 10px;
					height: 11px;
					background-size: 100% auto;
				}
			}
		}

		.bk-profile-email a {
			color: @color-swatch5;
			&:before {
				content: "";
				background-image: image('/images/ico-mail.png');
				background-repeat: no-repeat;
				width: 17px;
				height: 13px;
				display: inline-block;
				vertical-align: middle;
				margin-right: 0.4em;
				@media @retina {
					background-image: image('/images/ico-mail_@2x.png');
					background-size: 100% auto;
				}
				@media @mobile {
					width: 10px;
					height: 8px;
					background-size: 100% auto;
				}
			}
		}
	}

	// Nav Bar
	.nav-bar {
		display: -webkit-flexbox;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		flex-wrap: nowrap;
		margin-top: @block-v-space / 1.4;
		margin-bottom: @block-v-space;
		padding: 0 0 0 @layout-v-space;
		@media @bp-extendednav {
			display: block;
			text-align: left;
			padding: 0 @layout-v-space;
		}
		@media @tablet {
			margin-top: @block-v-space / 2;
			margin-bottom: @block-v-space / 2;
			padding: 0;
		}
		@media @mobile {
			
		}

		.widget.logo {
			margin-right: @layout-v-space / 2;
			min-width: 80px;
			@media @bp-extendednav {
				display: inline-block;
				vertical-align: middle;
			}
			@media @tablet {
				margin-left: @layout-v-space / 2;
				margin-right: 0;
			}

			img {
				display: block;
				@media @mobile {
					width: 70%;
					height: auto;
				}
			}
		}
		.widget.companyname {
			padding-right: @layout-v-space / 2;
			min-width: 100px;
			@media @bp-extendednav {
				display: inline-block;
				vertical-align: middle;
			}
			a {
				color: @color-swatch2;
			}
		}
		.widget.extendednavigation {
			flex-grow: 2;
			margin-bottom: 0;
			text-align: right;
			padding-left: @layout-v-space;
			
			@media @bp-extendednav {
				align-self: flex-end;
				margin-top: @layout-v-space / 2;
				padding-left: 0;
			}

			@media @tablet {
				margin-top: 0;
			}

		}
	}
}




// ================================================================================================
// Widget: EXTENDED NAVIGATION
@extendednavigation-pull-vm: 6px;
@extendednavigation-v-space: 16px;

// Cancel floating
div.widget .extendednavigation ul.align-left, div.widget.extendednavigation ul.align-left,
div.widget .extendednavigation ul.align-right, div.widget.extendednavigation ul.align-right {
	float: none !important;
}

.widget.extendednavigation {
	margin-bottom: 0;
	@media @tablet {
		padding-top: @pull-icon-size;
	}

	.extendednavigation > ul {
		display: inline-block;
		background: @color-swatch6;
		border-radius: 200px 0 0 200px;
		padding-left: @extendednavigation-v-space*2;
		padding-right: @layout-v-space / 2;
		
		@media @bp-extendednav {
			border-radius: 200px;
			display: block;
			padding: 0 @layout-v-space;
		}
		@media @tablet {
			display: none;
			border-radius: 0;
			padding: 0;

		}
	}

	

	ul {
		&.align-center, &.align-left, &.align-right {
			
		}

		// Menu aligning
		&.align-center {
			text-align: center;
		}
		&.align-left{
			text-align: left;
		}
		&.align-right {
			text-align: right;
		}

		// Menu Item
		li {
			float: none;
			display: inline-block;

			@media @tablet {
				padding-top: 0;
				padding-bottom: 0;
				border-bottom: 1px solid darken(@color-swatch3, 10%);
			}
			&:last-of-type {
				border-bottom-image: none;
			}

			a {
				padding: 0 @extendednavigation-v-space;
				&:hover {
					background-color: darken(@color-swatch3, 10%);
				}
				@media @tablet {
					padding: 0 @extendednavigation-v-space * 2;
				}
			}

			// Folder item
			&.folder {
				& > .text {
					padding: 0 @extendednavigation-v-space;
					@media @tablet {
						padding: 0 @extendednavigation-v-space * 2;
					}
					
				}
				margin-right: 0;
				&:after {
					display: none;
				}
				// Folder arrow icon
				& > .text:after {
					display: inline-block;
                    content: "";
                   	width: 15px;
                   	height: 15px;
                    margin-left: 0.4em;
                    background-image: image('/images/ui-extnav.png');
				}
				&:hover {
					background-color: darken(@color-swatch3, 10%);
				}
			}
			// Folder open
			
			&:hover ul {
				padding: 0;
				background-color: darken(@color-swatch3, 10%);
				border-radius: 0 0 10px 10px;
				overflow: hidden;

				li {
					border-top: 1px solid darken(@color-swatch3, 14%);
					border-bottom-image: none;
				}

				li a {
					padding-top: @extendednavigation-pull-vm;
					padding-bottom: @extendednavigation-pull-vm;
					&:hover {
						background-color: darken(@color-swatch3, 14%);
					}
					.text {
						line-height: bkscale(@font-swatch6-line-height,0.6);
					}
				}
				
				@media @tablet {
					bbox-shadow: none;
					display: block;
					position: relative;
					z-index: 500;
					padding: 0;
					margin: 0;
					min-width: 300px;

				}
			}
		}
	}

	// Hamburger
	@pull-icon-size: 50px;
	@pull-icon-hamburger-size: 36px;


	a.pull {
	    display: none;
	    @media @tablet {
	        display: block;
	        width: @pull-icon-size;
	        height: @pull-icon-size;
			background: @color-swatch3;
			border-radius: 6px 0 0 6px;
			position: absolute;
			top: 0;
			right: 0;

	        &:hover {
	           cursor: pointer;
	        }
	        // Hamburger Bun and Meat
	        &:after, &:before {
	            content: '';
	            position: absolute;
	            width: @pull-icon-hamburger-size;
	            height: 4px;
	            background: @color-swatch1;
	            top: 50%;
	            left: 50%;
	            margin: -(@pull-icon-hamburger-size / 3.5) 0 0 -(@pull-icon-hamburger-size / 2);
	            box-shadow: 0 8px 0 @color-swatch1, 0 16px 0 @color-swatch1;
	        }
	        &:before {
	        	display: none;
	        }
        }
    }

	// Pull Menu Open
	ul.open {
		display: block;
	}
	
	// Hamburger to cross
    ul[style*="display: block"] + a.pull, ul.open + a.pull {
    	 @media @tablet {
    	 	border-radius: 6px 0 0 0;
    	 	// Cross
    	 	&:after, &:before {
    	 		  box-shadow: none;
    	 		  margin: -(@pull-icon-hamburger-size / 11) 0 0 -(@pull-icon-hamburger-size / 2);
    	 	}
    	 	// Cross Line 1
    	 	&:after {
	            -webkit-transform: rotate(45deg);
				-moz-transform: rotate(45deg);
				-o-transform: rotate(45deg);
				-ms-transform: rotate(45deg);
				transform: rotate(45deg);
    	 	}
    	 	// Cross Line 2
    	 	&:before {
    	 		display: block;
	            -webkit-transform: rotate(-45deg);
				-moz-transform: rotate(-45deg);
				-o-transform: rotate(-45deg);
				-ms-transform: rotate(-45deg);
				transform: rotate(-45deg);
    	 	}
    	 }
    }
}


// ================================================================================================
// Widget: Home Feature

.home-feature .widget.feature {
	.content {
		// Left fade
		&:before {
			display: block;
			content: "";
			width: 50%;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			background: @color-swatch1;
			opacity: 0.8;
			@media @mobile {
				width: 100%;
			}
		}
		// Right Dot Fade
		&:after {
			display: block;
			content: "";
			width: 50%;
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			background-image: image('/images/pattern-dot.png');
			opacity: 0.4;
			@media @mobile {
				display: none;
			}
		}

		.spare.wrapper {
			position: relative;
			display: block;
			width: 50%;
			text-align: right;
			@media @mobile {
				width: auto;
				text-align: center;
			}
			h2 {
				margin-right: @layout-v-space;
				color: @font-swatch9-color;
				span {
					padding: 0;
					background: transparent;
					color: @font-swatch9-color;
				}
			}
			h3 {
				margin-right: @layout-v-space;
				color: @font-swatch9-color;
				span {
					padding: 0;
					background: transparent;
					color: @font-swatch9-color;
				}
			}



			.feature-btn {
				margin-right: @layout-v-space;
				display: block;
				margin-top: 20px;
			}

			@media @mobile {
				h2, h3, .feature-btn {
					margin-right: 0;
				}
			}

		}
	}
}


// ================================================================================================
// Footer

.footer {
	display: -webkit-flexbox;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: top;
	flex-wrap: wrap;

	padding: @layout-v-space @layout-v-space 0 @layout-v-space;
	background: darken(@color-swatch1, 6%);
	@media @tablet {
		padding: (@layout-v-space / 2) (@layout-v-space / 2) 0 (@layout-v-space / 2);
	}
	@media @mobile {
		padding: (@layout-v-space / 3) (@layout-v-space / 3) 0 (@layout-v-space / 3);
	}

	.company {
		
		.logo.widget, .companyname.widget {
			display: inline-block;
			vertical-align: middle;
		}
		.logo.widget {

			.logo img {
				width: 60%;
				height: auto;
				display: block;
			}
		}
		.widget.companyname {
			a {
				font-size: bkscale(@font-swatch10-font-size,0.65);
				line-height: bkscale(@font-swatch10-line-height,0.65);
				color: @color-swatch2;
			}
		}
		.widget.profile {
			margin-top: @layout-v-space / 2;		
		}
	}
	.footer-profile {
		
	}

}

.footer-copyright {
	padding: (@layout-v-space / 2) 0 1px 0;
	background: darken(@color-swatch1, 10%);
	text-align: center;
	font-size: bkscale(@font-swatch5-font-size,0.75);
	line-height: bkscale(@font-swatch5-line-height,0.75);
}




